body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Montserrat' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Montserrat {
  font-family: 'Montserrat';
}

.radiantBG {
  width: 1440px;
  height: 1690px;

  background: radial-gradient(
      51.87% 57.63% at 73.33% 34.6%,
      #243c94 0%,
      rgba(36, 60, 148, 0) 100%
    ),
    #060606;
}

.radiantServicesBG {
  /* width: 1440px;
  height: 1154px; */

  background: radial-gradient(
      47.03% 63.35% at 9.37% 42.06%,
      rgba(30, 50, 121, 0.55) 18.57%,
      rgba(0, 0, 0, 0) 80.92%
    ),
    #060606;
}

.radiantWorkFlow {
/*   
  width: 1440px;
  height: 1807px; */
  

  background: radial-gradient(
        42.55% 42.6% at 30.76% 30.48%,
        #203582 20.71%,
        rgba(0, 0, 0, 0) 69.64%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        33.35% 35.22% at 77.26% 80.12%,
        #203682 9.61%,
        rgba(0, 0, 0, 0) 65.31%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #000000;
}

.radiantWorkFlowMobile {
  
  /* width: 1440px;
  height: 1260px; */
  

  background: radial-gradient(
        62.55% 51.6% at 30.76% 30.48%,
        #203582 20.71%,
        rgba(0, 0, 0, 0) 69.64%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    radial-gradient(
        40.35% 29.22% at 77.26% 80.12%,
        #203682 9.61%,
        rgba(0, 0, 0, 0) 65.31%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #000000;
}



 /* Underline From Left */
.hvr-underline-from-left {
  
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2563EB;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

 /* Desktop Underline From Left */
 .Desktop-hvr-underline-from-left {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.Desktop-hvr-underline-from-left:before {
  content: "";
  border-radius: 25px;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  top: 20px;
  background: #2563EB;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.Desktop-hvr-underline-from-left:hover:before, .Desktop-hvr-underline-from-left:focus:before, .Desktop-hvr-underline-from-left:active:before {
  right: 0;
}






/* Sweep To Right */
.sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.sweep-to-right, .sweep-to-right:focus, .sweep-to-right:active {
  color: white;
}
.sweep-to-right:before, .sweep-to-right:focus:before, .sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


